/* FOOTER MAIN SECTION START  */
.footer{
  padding-top: 36px;
  position: relative;
  clear: both;
  background-color: #f4f7f9;
}
.footer-links{
  margin-bottom: 15px;
  text-align: center;
}
.footer-learn-more{
  margin-bottom: 0;
  border-bottom-width: 0;
  border-bottom: 1px solid #ddd;
}
.footer-icons{}
.sm-3{}
.grid-tiny{}
.footer-copyright{
  padding: 20px 9px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1em;
  border-top: 1px solid #ddd;
  color: #a1a1a1;
}

/* FOOTER MAIN SECTION END  */