/* SECTION NAVBAR STYLING START */
.classpass-wrapper{
  padding: 0 11%;
}
.navbar-wrapper{

}
.header{
  height: 50px;
  background-color: #fff;
  padding: 0 9px;
}
.header-logo{
  width: 192px;
  height: 22px;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  float: left;
}
.header-logo a{
  background-image: url("../images/classpass_logo.png");
  white-space: nowrap; */
  overflow: hidden;
  display: block;
  background-size: 155px 18px;
  background-repeat: no-repeat;

}
.js-clear-filters{}
.header-nav{
  margin-left: 60px;
  margin: 31px 0 0 30px;
}
.header-nav li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}
.header-nav a {
  color: #252a40;
}
.header-nav a:hover {
  color: #20cfb1;
}
.search-classes{}
.browse-studios{}
.header-btn{
  float: right;
} 

/* SECTION NAVBAR STYLING END */