/*PRIMARY COLOR SCHEME*/
  /*  
  Dark blue #252A40;
  Dark grey for table/button borders: #9296A2;
  Dark blue-purple (press section + avatar) #383e5a
  CP blue #20cfb1;
  Very light blue-purple(footer) #f4f7f9;
    Mauve font color in footer #a1b0db;
    Light grey font color footer #a1a1a1;
  */



/* ELEMENT STYLING START */
body {
  font-family: proxima-nova, sans-serif;
  font-size: .9375em;
  line-height: 1.2;
  letter-spacing: .05em;
  overflow-y: scroll;
  height: 100%;
  background-color: #fff;
  color: #252a40;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: din,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}

p {
  line-height: 1.8;
  margin-bottom: 9px;
}
aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}
blockquote, body, caption, dd, dl, 
fieldset, form, h1, h2, h3, h4, h5, h6,
hr, legend, ol, p, pre, table, td, th, ul {
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style-type: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
a {
  text-decoration: none;
  color: #20cfb1;
  transition: .3s;
  cursor: pointer;
}
a:hover {

}
a img {
  border: none;
}
hr {
   display: block;
   position: relative;
   padding: 0;
   margin-top: 70px;
   margin-bottom: 50px;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #a1a1a1;
   border-bottom: 1px solid #ffffff;
}
.line-divider{
  margin-left: 25%;
  margin-right: 20%;
}

header {
  border-bottom: 1px solid #252a40;
}
/* ELEMENT STYLING END */

/* GENERAL STYLING START */
.wrap{
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn{
  color: #fff;
  text-decoration: none;
  padding: 10px 18px 8px;
  font-size: 13px;
  font-size: .8666666667rem;
  line-height: 1.3846153846;
  display: inline-block;
  padding: 7px 12px 6px;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  border: none;
  margin: 0;
  cursor: pointer;
  overflow: visible;
  font-size: 11px;
  font-size: .7333333333rem;
  line-height: 1.6363636364;
  background-color: #ff6464;
  border-radius: 5px;
  transition: background-color .3s;
}
.btn-outline-secondary{
  background-color: transparent;
  color: #20cfb1;
  border: 1px solid #20cfb1;
}
.btn.header-btn-logged-in{
  width: auto;
  height: auto;
  text-indent: 0;
  border-width: 1px;
  background-image: none;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -8px;
}
.hidden{
  display: none;
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.md-1{
  width: 8.33%;
}

.md-2{
  width: 16.66%;
}
.md-3{
  width: 25%!important;
}
.md-4{
  width: 33.33%!important;
  float: left;
}
.md-6{
  width: 50%!important;
  float: left;
}
.md-9{
  width: 75%!important;
} 

/* GENERAL STYLING END */



