/*PRIMARY COLOR SCHEME*/
  /*  
  Dark blue #252A40;
    Dark grey for table/button borders: #9296A2;
  Dark blue-purple (press section) #383e5a
  Light CP blue #20cfb1;
  Very light blue-purple(footer) #f4f7f9;
    Mauve font color in footer #a1b0db;
    Light grey font color footer #a1a1a1;

  */




/* ELEMENT STYLING START */
body {
  font-family: proxima-nova, sans-serif;
  font-size: .9375em;
  line-height: 1.2;
  letter-spacing: .05em;
  color: #fff;
  /*color: #252a40;*/
  margin: 0px;

  background-color: #252A40;
}

h1,
h2,
h3,
h4,
h5 {
  color: #20cfb1;
  font-family: din,sans-serif;
  font-weight: 700;
  letter-spacing: .05em;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  margin: 0px;
}

h1 {
  font-size: 62px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}

p {
  line-height: 1.8;
}
ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
a img {
  border: none;
}

header {
  height: 77px;
  width: 100vw;
  position: fixed;
  background: #fff;
  padding-left: 30px;
  top: 0px;
  z-index: 1;
  border-bottom: 1px solid #252a40;
}
/* ELEMENT STYLING END */


/* SECTION X STYLING START */
/* SECTION X STYLING END */


/* ANONYMOUS STYLING START */

/* ANONYMOUS STYLING END */
